@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
@using (Ajax.BeginForm("ForgotPassword", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "ForgotPassword", @class = "form-horizontal", role = "form" }))
{   
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" name="merchant_email" class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Get Link</button>    
}
       
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $("#ForgotPassword").submit(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var action = '/Login/ForgotPassword';
            var dataJson = $(this).serialize();
            $.ajax({
                type: "POST",
                url: action,
                data: dataJson,
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        alert(result.message);
                        var newURL = window.location.protocol + "//" + window.location.host + "/" + "Login/Login";
                        window.location.href = newURL;
                    } else {
                        alert(result.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("Error Fail!");
                }
            });
        }); //end .submit()
    });
</script>
