@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" />               
            </div>
            <button type="submit" class="btn btn-default">Get Link</button>
        </form>
    </div>
</div>

@*@section Scripts {
    @Html.PartialAsync("_ValidationScriptsPartial")
}*@

