@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
<script>

        $(document).ready(function () {
            $("#confirm").keyup(validate);
        });
        function validate() {
            var newpass = $("#new").val();
            var confirm = $("#confirm").val();

            if (newpass == confirm) {

                $("#isValidate").text("valid");
                document.getElementById("isValidate").style.color = "green";
                $(".right").show();
            }
            else {
                $("#isValidate").text("invalid");
                document.getElementById("isValidate").style.color = "red";
                $(".right").hide();
            }
        }
</script>
<h2>ResetPassword</h2>
@using (Ajax.BeginForm("ResetPassword", "Login", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAjaxRequestSuccess" }, new { @id = "ResetPassword", @class = "form-horizontal", role = "form" }))
{
    <div class="form-horizontal">
        <div class="form-group" hidden>
            <label class="control-label">Email</label>
            <input class="form-control" name="merchant_email" />
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input type="password" id="new" name="password" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input type="password" id="confirm" name="confirmPassword" class="form-control" />
        </div>
        <p id="isValidate"></p>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rest Password</button>
        </div>
    </div>
}
<script language="javascript">
    $(document).ready(function () {
        $("#ResetPassword").submit(function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var action = '/Login/ResetPassword';
            var dataJson = @Model;
            $.ajax({
                type: "POST",
                url: action,
                data: dataJson,
                dataType: 'json',
                success: function (result) {
                    if (result.status) {
                        alert(result.message);
                        var newURL = window.location.protocol + "//" + window.location.host + "/" + "Login/Login";
                        window.location.href = newURL;
                    } else {
                        alert(result.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("Error Fail!");
                }
            });
        }); //end .submit()
    });
</script>
